.root {
    -fx-background-color: #383F42;
    -fx-font-family: 'Montserrat', sans-serif;
    

}

.mainWindow{
    -fx-scene-fill: null;
    -fx-background-radius: 80px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 4);
}

.menuBar {
 
    -fx-background-color: linear-gradient(to bottom, #383F42, #583d96, #331872);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 80px 80px 0 0;
    -fx-padding: 39;
}

.footer {
    -fx-background-color: linear-gradient(to top, #383F42 5%, #583d96, #331872);
    -fx-background-radius: 0 0 80px 80px;
    -fx-padding: 40;
}

.accent {
    -fx-background-color: linear-gradient(to bottom, #383F42, #4F5B66);
    
    
}

.txtColor {


}

.btnAccent {
    -fx-background-color:#331872;
    -fx-text-fill: #f6f6f4;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-transition: all 0.3s ease;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    
}

.tglAccent

{
    -fx-background-color:#331872;
    -fx-text-fill: #f6f6f492;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    

}

.nodeToggle {
    -fx-background-color: #f6f6f492;
    -fx-background-radius: 10 15 6 10;
    -fx-transition: all 0.3s ease;
}

.nodeToggle.stockState {
    -fx-background-color: #331872;
    -fx-background-radius: 15 10 10 6;
}


.nmlTxt {
    -fx-text-fill: #f6f6f492;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-font-size: 10px;
}

.bgToggle {
    -fx-background-color: #331872;
    -fx-background-radius: 80px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}



.btnAccent:hover {
    -fx-transform: scale(1.05) translate(0, -1px);
    -fx-background-color: linear-gradient(to bottom, #6931ec, #583d96);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 20, 0, 0, 0);
    -fx-text-fill: #ffffffe0;
}

.mainPanels {

    -fx-text-fill: #F6F6F4;
    -fx-font-family: 'Montserrat', sans-serif;
    -fx-alignment: center;
    
}

.titled-pane >.title {
    -fx-background-color: #383F42;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 5, 0);
}

.mainPanels::first-letter {

}

.whitePanel {
    -fx-background-color: #F6F6F4;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.separatorVPanel {

    -fx-background-color: linear-gradient(to bottom, #86859e9e,#383F42, #86859e9e,#383F42);
    -fx-border-color: transparent #F6F6F4 transparent #F6F6F4;
    -fx-padding: 2px;
}

.separatorHPanel {

    -fx-background-color: linear-gradient(to right, #86859e9e,#383F42, #F6F6F4,#383F42);
    -fx-border-color: #383F42 transparent #6931ec transparent ;
    -fx-padding: 2px;
}

.chart-plot-background {
    -fx-background-color: linear-gradient(to bottom, #383F42, #4F5B66);
    -fx-tick-label-fill: #f6f6f492;
}

.axis-label {

    -fx-tick-label-fill: #f6f6f492;
}


.slider:horizontal {>.track {
    -fx-fill: #F6F6F4;
    -fx-min-height: 20px;
    -fx-border-color: transparent;
}
>.thumb{
    -fx-background-color: #6931ec;
    -fx-background-radius: 80px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

}
