.root {
    -fx-background-color: #2E3436;
    -fx-font-family: "Sitka Display", monospace;
    

}

.mainWindow{
    -fx-scene-fill: null;
    -fx-background-radius: 80px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 4);
}

.menuBar {
 
    -fx-background-color: linear-gradient(to bottom, #9d9080 40%, transparent 45%);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-background-radius: 80px 80px 0 0;
    -fx-padding: 39;
}

.footer {
    -fx-background-color:#9d9080;
    -fx-background-radius: 0 0 80px 80px;
    -fx-padding: 40;
}

.accent {
    -fx-background-color: #9d9080; 
}

.txtColor {


}

.btnAccent {
    -fx-background-color:#9d9080;
    -fx-transition: all 0.3s ease;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    
}

.btnAccent:hover {
    -fx-transform: translate(0, -5px);
    -fx-background-color: linear-gradient(to bottom, #9d9080 10%, #86859e9e 150%);
}

.mainPanels {

    -fx-text-fill: #7C8C9C;
    -fx-font-family: "Sitka Display", monospace;
    -fx-alignment: center;
    
}

.titled-pane >.title {
    -fx-background-color: #F6F6F4;
    -fx-effect: innershadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 5, 0);
}

.mainPanels::first-letter {

}

.whitePanel {
    -fx-background-color: #F6F6F4;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}

.separatorVPanel {

    -fx-background-color: linear-gradient(to bottom, #2E3436, #F6F6F4,#2E3436);
    -fx-border-color: transparent #9d9080 transparent #9d9080;
    -fx-padding: 2px;
}

.separatorHPanel {

    -fx-background-color: linear-gradient(to right, #F6F6F4,#2E3436, #F6F6F4,#2E3436);
    -fx-border-color: #9d9080 transparent #2E3436 transparent ;
    -fx-padding: 2px;
}
